.App {
  text-align: center;
  font-size: 24px;
}
.highlight {
  display: inline;
  background-color: #fff;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #fff;
}

.active-highlight {
  background-size: 100% 100%;
}

.highlight,
.highlight span {
  mix-blend-mode: difference;
}
